@page
@model DreamHome.Pages.Apartments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Apartments</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].ApartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].MarketPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].FloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].BookingAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].AvailabilityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].Agent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Apartment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ApartmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ApartmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ApartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
