@page
@model DreamHome.Pages.Agents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Agent Directory</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].AgentFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].AgentLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].AgentPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].BrokerageCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].SalesOffice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Agent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrokerageCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOffice.OfficeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AgentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AgentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AgentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
